<h2>Tasks</h2>
<form [formGroup]="taskForm" (ngSubmit)="addTask()">
  <input type="text" placeholder="Nova tarefa" formControlName="title" />
  <div *ngIf="taskForm.controls.title.touched && taskForm.controls.title.invalid">
    <small *ngIf="taskForm.controls.title.errors?.['required']">
      O título é obrigatório
    </small>

    <small *ngIf="taskForm.controls.title.errors?.['minlength']">
      Mínimo de 3 caracteres
    </small>
  </div>

  <button type="submit" [disabled]="taskForm.invalid">
    Adicionar
  </button>
</form>

<ul>
  <li *ngFor="let task of tasks$ | async">
    <span *ngIf="editingTaskId !== task.id"
      (dblclick)="startEdit(task)"
      [style.text-decoration]="task.completed ? 'line-through' : 'none'">
  {{ task.title }}
</span>

<input
  *ngIf="editingTaskId === task.id"
  [(ngModel)]="editedTitle"
  (blur)="saveEdit(task.id)"
  (keyup.enter)="saveEdit(task.id)"
/>

    <button (click)="removeTask(task.id)">🗑</button>
  </li>
</ul>